h1 {
    font-style: oblique;
    font-size: xx-large;
    border-bottom-style: ridge;
    border-width: thin;
    background-color: azure;
}
body {
    background-color: antiquewhite;
    border-style: double;
    border-width: 11px;
    border-color: azure;
}
li {
    font-size: 20px;
    background-color: beige;
}
h2 {
    background-color: aliceblue;
}
td {
    background-color: blanchedalmond;
    border-style: dashed;
    border-width: thin;
    border-color: aquamarine;
}
.button {
    background: #ffc690;
    color: cornsilk;
    border: 3px solid grey;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 5px aliceblue;

}